<!DOCTYPE html>
html(lang="es")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Crea tu cuenta UpTask
            if locals.mensajes  
                //- each error in errores
                //-     p.error.alerta= error.message
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error  
            form#formulario.caja.caja-login(method="POST" action="/crear-cuenta")
                .campo
                    label(for="email") Email:
                    input(type="email" name="email" placeholder="Introduce tu correo electr칩nico" value= email)
                .campo
                    label(for="password") Contrase침a:
                    input(type="password" name="password" placeholder="Elige tu contrase침a" value= password)
                .campo.enviar 
                    input.boton(type="submit" value="Crear mi cuenta")
                .campo
                    a(href="/iniciar-sesion" class="iniciar-sesion") Iniciar sesi칩n