<!DOCTYPE html>
html(lang="es")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Inicia sesión en tu UpTask
            
            if error
                p.alerta.error= error
            
            if locals.mensajes  
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error  

            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo
                    label(for="email") Email:
                    input(type="email" name="email" placeholder="Introduce tu correo electrónico" value= email)
                .campo
                    label(for="password") Contraseña:
                    input(type="password" name="password" placeholder="Elige tu contraseña" value= password)
                .campo.enviar 
                    input.boton(type="submit" value="Acceder a mi UpTask")
                .campo.acciones
                    a(href="/crear-cuenta" class="iniciar-sesion") Crear cuenta de UpTask
                    a(href="/restablecer") Olvidé mi clave de acceso