<!DOCTYPE html>
html(lang="es")
    head
       include partials/header
    body.login
        .contenedor-formulario
            h1= nombrePagina 

            form#formulario.caja-login(method="POST")
                .campo
                    h3 Selecciona tu nueva clave de acceso
                .campo
                    label(for="password") Contraseña:
                    input(type="password" name="password" placeholder="Elige tu contraseña" value= password)
                .campo.enviar 
                    input.boton(type="submit" value="Restablecer clave")

