extends layout

block contenido
    .contenido-principal
        h1 #{proyecto.nombre}
        h2 #{nombrePagina}

        //- Formulario

        //- Listado de pendientes
        //- pre= vardump(proyecto)


        //- Acciones 
        
        .contenedor-acciones
            a(href=`/proyectos/editar/${proyecto.id}` class="boton") Editar
            button#eliminar-proyecto(data-proyecto-url=proyecto.url type="button" class= "boton eliminar") Eliminar