<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
    body
        h2 Restablecer clave de acceso
        p En atención a tu solicitud de recuperación de la clave de acceso a tu cuenta UpTask, puedes hacerlo a través del siguiente enlace :
        a(href=`${resetURL}`) Restablecer clave de acceso
        p Por favor, ten en consideración que el enlace tiene una caducidad de 24 horas, en caso de no tramitar el cambio de clave de acceso dentro del plazo de caducidad del enlace anterior, puedes volver a solicitar una clave de acceso a tu UpTask accediendo a #{resetURL}
        p Gracias por formar parte de UpTask
        p Todo el equipo de UpTask aprovecha para enviarte un afectuoso saludo.
        h4 UpTask Staff